<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categorías - Gimnasio Fitness</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>

<header th:replace="~{fragments/plantilla :: header}"></header>
<nav th:replace="~{fragments/plantilla :: navbar}"></nav>

<main class="contenedor">
    <h2 class="titulo">Categorías de Entrenamiento</h2>

    <a class="btn" th:href="@{/categorias/nuevo}">Agregar categoría</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="categoria : ${categorias}">
                <td th:text="${categoria.id}"></td>
                <td th:text="${categoria.nombre}"></td>
                <td>
                    <a class="btn btn-secundario"
                       th:href="@{/categorias/editar/{id}(id=${categoria.id})}">
                        Editar
                    </a>
                </td>
                <td>
                    <a class="btn btn-eliminar"
                       th:href="@{/categorias/eliminar/{id}(id=${categoria.id})}">
                        Eliminar
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<footer th:replace="~{fragments/plantilla :: footer}"></footer>

</body>
</html>
