<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservas - Gimnasio Fitness</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>

<header th:replace="~{fragments/plantilla :: header}"></header>
<nav th:replace="~{fragments/plantilla :: navbar}"></nav>

<main class="contenedor">
    <h2 class="titulo">Reservas de Clases</h2>

    <a class="btn" th:href="@{/reservas/nuevo}">Agregar reserva</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Clase</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="reserva : ${reservas}">
                <td th:text="${reserva.id}"></td>
                <td th:text="${reserva.nombreCliente}"></td>
                <td th:text="${reserva.fecha}"></td>
                <td th:text="${reserva.servicio.nombre}"></td>

                <td>
                    <a class="btn btn-secundario"
                       th:href="@{/reservas/editar/{id}(id=${reserva.id})}">
                        Editar
                    </a>
                </td>

                <td>
                    <a class="btn btn-eliminar"
                       th:href="@{/reservas/eliminar/{id}(id=${reserva.id})}">
                        Eliminar
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<footer th:replace="~{fragments/plantilla :: footer}"></footer>

</body>
</html>